.UI.Service > div {
    background-color: var(--lightblue-35);
    border: 6px solid transparent;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 42px;
    padding-left: calc(3rem - 6px);
    padding-right: calc(3rem - 6px);
    transition: all 0.25s;
}

.UI.Service > div:hover {
    background-color: white;
    border: 6px solid var(--soft-45);
    margin-top: -16px;
    margin-bottom: -16px;
    padding-top: 14px;
}

.UI.Service .bubble {
    width: 100px;
    opacity: 0;
    box-shadow: 0 0 0 15px var(--lightblue-15);
    transition: all 0.25s;
}

.UI.Service > div:hover .bubble {
    width: 147px;
    opacity: 1;
}
