.Frontend .Passport .nav-link {
    color: var(--border);
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.25s;
}

.Frontend .Passport .nav-link .icon {
    opacity: 0;
    margin-right: 0;
    width: 0;
    transition: all 0.25s;
}

.Frontend .Passport .nav-link.active {
    background-color: var(--blue);
    color: white;
}

.Frontend .Passport .nav-link.green.active {
    background-color: var(--darkgreen);
}

.Frontend .Passport .nav-link.red.active {
    background-color: var(--scarlet);
}

.Frontend .Passport .nav-link.brown.active {
    background-color: var(--brown);
}

.Frontend .Passport .nav-link.active .icon {
    opacity: 1;
    margin-right: 0.5rem;
    width: auto;
}

@media (min-width: 800px) {
    .Frontend .Passport .nav-link.active .icon {
        margin-right: 1rem;
    }
}

@media (min-width: 1900px) {
    .Frontend .Passport .nav-link.active .icon {
        margin-right: 2rem;
    }
}
