.Frontend .Home .carousel-inner {
    height: 100% !important;
}

.Frontend .Home #banner {
    position: absolute;
    margin: auto;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%) scale(1);
    transform-origin: center;
    padding: 0 12.5%;
}