.Frontend .Services .nav-link {
    border-radius: 15px 15px 0 0;
    color: var(--border);
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.25s;
}

.Frontend .Services .icon {
    opacity: 0;
    margin-right: 0;
    width: 0;
    transition: all 0.25s;
}

.Frontend .Services .nav-link.active {
    background-color: var(--blue);
    color: white;
}

.Frontend .Services .nav-link.active .icon {
    opacity: 1;
    margin-right: 0.5rem;
    width: auto;
}

@media (min-width: 800px) {
    .Frontend .Services .nav-link.active .icon {
        margin-right: 1rem;
    }
}

@media (min-width: 1900px) {
    .Frontend .Services .nav-link.active .icon {
        margin-right: 2rem;
    }
}
